.event_container.fl
  .event_image
    = image_tag "mock-event-image.jpg"
  %ul.event_detail
    %li.title
      = link_to event.title.shorter(15), event_path(event), :title => event.title
    %li{:title => event.venue.name}
      = event.venue.name.shorter(15)
    %li
      = event.start_time.strftime('%Y年%m月%d日')
